/* playfair-display-regular - cyrillic */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Playfair-Display/playfair-display-v30-cyrillic-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/Playfair-Display/playfair-display-v30-cyrillic-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/Playfair-Display/playfair-display-v30-cyrillic-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/Playfair-Display/playfair-display-v30-cyrillic-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/Playfair-Display/playfair-display-v30-cyrillic-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/Playfair-Display/playfair-display-v30-cyrillic-regular.svg#PlayfairDisplay') format('svg');
    /* Legacy iOS */
}

/* playfair-display-700 - cyrillic */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Playfair-Display/playfair-display-v30-cyrillic-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/Playfair-Display/playfair-display-v30-cyrillic-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/Playfair-Display/playfair-display-v30-cyrillic-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/Playfair-Display/playfair-display-v30-cyrillic-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/Playfair-Display/playfair-display-v30-cyrillic-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/Playfair-Display/playfair-display-v30-cyrillic-700.svg#PlayfairDisplay') format('svg');
    /* Legacy iOS */
}

/* pt-sans-regular - cyrillic */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/PT-Sanspt-sans-v17-cyrillic-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/PT-Sanspt-sans-v17-cyrillic-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/PT-Sanspt-sans-v17-cyrillic-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/PT-Sanspt-sans-v17-cyrillic-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/PT-Sanspt-sans-v17-cyrillic-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/PT-Sanspt-sans-v17-cyrillic-regular.svg#PTSans') format('svg');
    /* Legacy iOS */
}